/**
 * Styles.
 */
.faeprofile-supervisor-available {
  color: darkGreen;
}

.faeprofile-supervisor-unavailable {
  color: darkRed;
}

.faeprofile-listDateTime {
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  background: #f4f4f4;
}

.faeprofile-block-research-list-item {
	margin-bottom: 15px;
}

/* When there are too many tabs, the tab size needs to be smaller */
div#quicktabs-find_an_expert ul.quicktabs-tabs li {
	font-size: 90%;
}
